bin/Debug/net6.0/sonic
bin/Debug/net6.0/sonic.deps.json
bin/Debug/net6.0/sonic.dll
bin/Debug/net6.0/sonic.pdb
bin/Debug/net6.0/sonic.runtimeconfig.json
bin/Debug/net6.0/ref/sonic.dll
obj/project.assets.json
obj/project.nuget.cache
obj/sonic.csproj.nuget.dgspec.json
obj/sonic.csproj.nuget.g.props
obj/sonic.csproj.nuget.g.targets
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/sonic.AssemblyInfo.cs
obj/Debug/net6.0/sonic.AssemblyInfoInputs.cache
obj/Debug/net6.0/sonic.assets.cache
obj/Debug/net6.0/sonic.csproj.AssemblyReference.cache
obj/Debug/net6.0/sonic.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/sonic.csproj.FileListAbsolute.txt
obj/Debug/net6.0/sonic.dll
obj/Debug/net6.0/sonic.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/sonic.genruntimeconfig.cache
obj/Debug/net6.0/sonic.GlobalUsings.g.cs
obj/Debug/net6.0/sonic.pdb
obj/Debug/net6.0/ref/sonic.dll
